<h2 class="headline-1">
    SÉ PARTE DE UNA CULTURA.
    <br>
    DILE A TUS AMIGOS LO QUE ES BUENO.
    <br>
    ÚNETE A GORILLA GYM.
</h2>

<div class="container">
    <form [formGroup]="registroForm" (ngSubmit)="submit()">
        <label><b>Nombre</b></label>
        <input class="form-control" formControlName="nombre" placeholder="Introduce tu nombre completo"/>
        <div class="error-container">
            @if (registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid) {
                @if (registroForm.get('nombre')?.errors?.['required']) {
                    <p class="error">Introduce un nombre</p>
                }
                @if (registroForm.get('nombre')?.errors?.['minlength']) {
                    <p class="error">Introduce un nombre con mínimo con 5 caracteres</p>
                }
            }
        </div>

        <label><b>Correo electrónico</b></label>
        <input class="form-control" formControlName="correo" placeholder="Introduce tu correo electrónico"/>
        <div class="error-container">
            @if (registroForm.get('correo')?.touched && registroForm.get('correo')?.invalid) {
                @if (registroForm.get('correo')?.errors?.['required']) {
                    <p class="error">Introduce un correo electrónico</p>
                }
                @if (registroForm.get('correo')?.errors?.['invalidEmail']) {
                    <p class="error">Introduce un correo electrónico válido</p>
                }
                @if (registroForm.get('correo')?.errors?.['minlength']) {
                    <p class="error">Introduce un correo con mínimo con 5 caracteres</p>
                }
            }
        </div>

        <label><b>Contraseña</b></label>
        <input class="form-control" id="password" type="password" formControlName="password" placeholder="Introduce tu contraseña"/>
        <div class="error-container">
            @if (registroForm.get('password')?.touched && registroForm.get('password')?.invalid) {
                @if (registroForm.get('password')?.errors?.['required']) {
                    <p class="error">Introduce una contraseña</p>
                }
                @if (registroForm.get('password')?.errors?.['invalidPass']) {
                    <p class="error">Solo letras, dígitos y '_'</p>
                }
                @if (registroForm.get('password')?.errors?.['minlength']) {
                    <p class="error">Introduce una contraseña de mínimo 8 caracteres</p>
                }
                @if (registroForm.get('password')?.errors?.['noUpperCase']) {
                    <p class="error">Debe contener al menos una mayúscula</p>
                }
                @if (registroForm.get('password')?.errors?.['noNumber']) {
                    <p class="error">Debe contener al menos un número</p>
                }
            }
        </div>

        <label><b>Confirmar contraseña</b></label>
        <input class="form-control" id="passwordRepeted" type="password" formControlName="passwordRepeted" placeholder="Introduce tu contraseña de nuevo"/>
        <div class="error-container">
            @if (registroForm.get('passwordRepeted')?.touched && registroForm.get('passwordRepeted')?.errors?.['isValid'] === false) {
                <p class="error">Las contraseñas no coinciden</p>
            }
        </div>

        <div class="raw">
            <button class="btn btn-dark" [disabled]="registroForm.invalid">Registrarse</button>
        </div>
    </form>
</div>