* {
    font-family: "Titillium Web", sans-serif;
}
.descripcion {
    font-size: larger;
    text-align: justify;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
}
.contenido{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.img{
    height: 400px;
    width: 600px;
    box-shadow: 7px 7px black;
    margin: auto;
}
.foto{
    height: 400px;
    width: auto;
    box-shadow: 7px 7px black;
    margin: auto;
}
.cuerpo{
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

.imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}