    <div class="container mt-5">
      <h2>Cambiar Contraseña</h2>

      @if (!usuarioEncontrado) {
        <label>Nombre de usuario:</label>
        <input [(ngModel)]="username" class="form-control" placeholder="Ingrese su nombre de usuario">

        <select [(ngModel)]="tipo" class="form-control mt-2">
          <option value="usuarios">Usuario</option>
          <option value="admin">Administrador</option>
        </select>

        <button (click)="verificarUsuario()" class="btn btn-primary mt-2">Verificar</button>
        @if (mensaje) {
          <div class="text-danger mt-2">{{ mensaje }}</div>
        }
      }

      @if (usuarioEncontrado) {
        <p><strong>Usuario encontrado:</strong> {{ username }}</p>

        <label>Nueva contraseña:</label>
        <input [(ngModel)]="nuevaPassword" type="password" class="form-control" placeholder="Nueva contraseña">

        <button (click)="cambiarPassword()" class="btn btn-success mt-2">Cambiar Contraseña</button>

        @if (mensaje) {
          <div class="text-info mt-2">{{ mensaje }}</div>
        }
      }
</div>