* {
    font-family: "Titillium Web", sans-serif;
}

#buscoClase {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.card {
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.1)
}
.card-title {
    font-size: large;
    font-weight: bold;
}

.oscuro {
  background-color: black;
  color: white;
}

.claro {
  background-color: white;
  color: black;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #000000;
    border-radius: .3rem;
    color: white;
}

.jumbotron2 {
    margin: auto;
    width: 50%;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #000000;
    border-radius: .3rem;
    color: white;
}

.fa-brands:hover {
    color: #000000;
}

:host ::ng-deep .custom-spinner {
  --mdc-circular-progress-active-indicator-color: rgb(0, 0, 0);
}
.spin {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}